@import '../asset/scss/typography';

.ActionBox {
  @extend %center;
  background-color: $tertiaryColor;
  width: 46.9%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.ActionBox:hover {
  cursor: pointer;
  background-color: $primaryColor;
  width: 50%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0.35rem 0.35rem 0.4rem;
  /* filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)); */
}

.ActionBoxContainer {
  @extend %center;
  flex-direction: column;
}

.image {
  height: 70%;
}

.labelTextContainer { 
  @extend %center;
  height: 30%;
  width: 85%;
}

.LabelText {
  color: $white;
  text-align: center;
  font-size: 105%;
  align-self: center;
}