@import '../asset/scss/typography';

.StartPageActionBox {
  display: flex;
  justify-content: space-between;
  background-color: $secondaryColor;
  width: 30%;
  height: 25%;
  padding: 2%;
  filter: drop-shadow(0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}